@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif';}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

h1{
  color: rgba(69,69,69,1);
}

h2{
  color: rgba(69,69,69,0.8);
}

h2{
  color: rgba(69,69,69,0.6);
}

.remark-slide-number{ color: rgba(69,69,69,0.6); }

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.logo{
  position: absolute;
  right: 0;
  top: 50px;
  width: 40px;
  height: auto; 
}

.active h2{
  color: rgba(205,80,0,1);
}

.inactive h2{
  color: rgba(69,69,69,0.4) !important;
}

/* Image sizes */

img[src*="#xlarge"] {
  width:90%;
  height:auto;
  padding-top: 60px;
}

img[src*="#large"] {
  width:500px;
  height:auto;
  padding-top: 60px;
}


img[src*="#medium"] {
  width:250px;
  height:auto;
}

img[src*="#fill-it"] {
  width:100%;
  height:auto;
  padding: 0;
}



/* Columns */

.column-left, .column-right{
  padding-top: 50px;
}

.column-left {float:left}
.column-right {float:right}

.split-60 .column-left {width: 60%}
.split-60 .column-right {width: 40%}

.split-50 .column-left {width: 50%}
.split-50 .column-right {width: 50%}

.split-40 .column-left {width: 40%}
.split-40 .column-right {width: 60%}


/* Fixes */
.block{
  padding-top: 300px;
  display: block;
}

.footnote{
  font-size: 8px;
  position: absolute;
  bottom: 0;
  left: 10px;
  font-style: italic;
}