@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif';}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

h1{
  color: rgba(69,69,69,1);
}

h2{
  color: rgba(69,69,69,0.8);
}

h2{
  color: rgba(69,69,69,0.6);
}

.remark-slide-number{ color: rgba(69,69,69,0.6); }

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.logo{
  position: absolute;
  right: 0;
  top: 50px;
  width: 40px;
  height: auto; 
}

.orange, .active h2, .active h3, .active h4{
  color: rgba(205,80,0,1);
}

.inactive h2, .inactive h3, .inactive h4{
  color: rgba(69,69,69,0.4) !important;
}

.code{
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: rgba(69,69,69,1);
  color: white;
  border-radius: 5px;
}

.inlineCode{ 
  background: rgba(69,69,69,1);  
  border-radius: 5px;
  color: white; 
  padding: 0 10px; 
  display: block;
}

/* Image sizes */

img[src*="#xlarge"] {
  width:90%;
  height:auto;
  padding-top: 60px;
}

img[src*="#large"] {
  width:500px;
  height:auto;
  padding-top: 60px;
}


img[src*="#medium"] {
  width:250px;
  height:auto;
}

img[src*="#fill-it"] {
  width:100%;
  height:auto;
  padding: 0;
}

img[src*="#fill-it-vertical"] {
  height:400px;
  width:auto;
  padding: 0;
}



/* Columns */

.column-left, .column-right{
  padding-top: 50px;
}

.column-left {float:left}
.column-right {float:right}

.split-60 .column-left {width: 60%}
.split-60 .column-right {width: 40%}

.split-50 .column-left {width: 50%}
.split-50 .column-right {width: 50%}

.split-40 .column-left {width: 40%}
.split-40 .column-right {width: 60%}


/* Fixes */
.block{
  padding-top: 300px;
  display: block;
}

.footnote{
  font-size: 8px;
  position: absolute;
  bottom: 0;
  left: 10px;
  font-style: italic;
}

.no-padding .column-left, .no-padding .column-right{
  padding-top: 0;
}

/* Blockquote */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:10px auto;
  font-family:Open Sans;
  font-style:italic;
  color: rgba(69,69,69,1);
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid rgba(205,80,0,1) ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:rgba(69,69,69,0.2);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote .speaker{
  display:block;
  color:rgba(69,69,69,0.8);
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 3px solid white;
}

th{
  background-color: rgba(205,80,0, 1);
  color: white
}

th, td {
  text-align: left !important;;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(205,80,0, 0.2);
}